.search-form {
  position: relative;

  label {
    width: 100%;
  }

  .search-field {
    border: 1px solid $default-border-color;
    padding: 10px 15px;
    font-size: 15px;
    width: 100%;
    outline: none;

    &:focus {
      border-color: $color-default;
    }
  }

  .search-submit {
    background: $bg-base;
    border: none;
    color: $color-base;
    display: inline-block;
    padding: 9px;
    top: 1px;
    outline: none;
    position: absolute;
    right: 1px;
  }
}