.sidebar-tags {
  a {
    border: 1px solid $border-color;
    color: $body-color;
    display: inline-block;
    font-size: 13px;
    margin: 0 7px 7px 0;
    padding: 10px 7px;

    &:hover {
      background-color: #fbfbfb;
      color: var(--theme-color);
    }
  }
}
