.pagination-posts {
	display: flex;
	justify-content: space-between;
	padding: ($default-spacing-y / 4) 0;

	[class*=nav-] {
		background: $body-bg;
		border: 1px solid var(--theme-color);
		color: var(--theme-color);
		padding: 6px 20px;

		i {
			vertical-align: middle;
			@extend %transition;
		}

		span {
			display: inline-block;
			@extend %transition;
		}
	}

	.nav-previous,
	.nav-next {
		text-decoration: none;
	}

	.nav-previous {
		&:hover {
			span {
				transform: translateX(-5px);
				@extend %transition;
			}

			i {
				transform: translateX(-10px);
				@extend %transition;
			}
		}
	}

	.nav-next {
		&:hover {
			span {
				transform: translateX(5px);
			}

			i {
				transform: translateX(10px);
				@extend %transition;
			}
		}
	}
}