.post-single {
  article {
    @include media(lg) {
      padding-right: 40px;
    }
    
    @include media(xl) {
      padding-right: 80px;
    }
  }
  
  .single-image {
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.37);
    border-radius: $border-radius;
    display: block;
    margin: 0 auto ($default-spacing-y / 2);
    overflow: hidden;
  }

  .pub-date {
    color: $gray-600;
    font-size: .9em;
    margin-top: 0.5rem;
    display: block;
  }

  .title {
    color: $body-color;
    font-size: 2.2em;
    margin: 0;
  }
}

.content-single {
  font-size: 1.125em;

  p:not(:last-child),
  div,
  table,
  img,
  figure,
  ul {
    margin-bottom: 2em;
  }

  li:not(:last-child) {
    margin-bottom: 1em;
  }

  p,
  li,
  table {
    font-size: 1.12em;
  }

  a {
    color: var(--theme-color);
    font-weight: 600;
  }

  b,
  strong {
    font-weight: bold;
  }

  img {
    border-radius: $border-radius;
    width: 100%;
    height: auto;
    @extend %transition;

    &:active {
      transform: scale(0.97);
    }
  }

  figure {
    img {
      margin-bottom: 0;
    }

    figcaption {
      text-align: center;
      font-size: 80%;
      color: #696969;
    }
  }
}

.comments {
  border-top: 1px solid $border-color;
  padding-top: ($default-spacing-y / 4);
  margin-top: -1px;

  h2 {
    font-size: 1.5em;
  }
}

.share-post,
.single-tags,
.categories-post {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  @include media(sm) {
    flex-direction: row;
    align-items: center;
  }

  span {
    color: $body-color;
    font-size: 1.25em;
    font-weight: 600;

    @include media(sm, max) {
      margin-bottom: 0.5em;
    }
  }
}
