.single-tags {
  margin-top: $default-spacing-y / 2;

  ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;

    @include media(sm) {
      padding-left: 15px;
    }
  }

  li {
    display: inline-block;

    a {
      color: var(--theme-color);
    }
  }
}