.categories-post {
  border-bottom: 1px solid $border-color;
  padding: ($default-spacing-y / 4) 0;
  margin-bottom: $default-spacing-y / 2;

  a {
    color: $color-default;
  }

  .list {
    @include media(sm) {
      padding-left: 15px;
    }
  }
}