.share-post {
	justify-content: space-between;
	margin-top: ($default-spacing-y / 4);
	border-bottom: 1px solid $border-color;
	padding-bottom: ($default-spacing-y / 4);

	ul {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			&:not(:last-child) {
				margin-right: 10px;
			}

			>a {
				border-radius: 50%;
				border: none;
				display: block;
				font-size: 1.2em;
				height: 2em;
				line-height: 2em;
				text-align: center;
				width: 2em;
				@extend %transition;

				&:hover {
					transform: translateY(-7px);
					@extend %transition;
				}
			}
		}
	}
}

.share-facebook {
	@include button(#036be4, $white, darken(#036be4, 20%), $white);
}

.share-twitter {
	@include button(#55acee, $white, darken(#55acee, 20%), $white);
}

.share-linkedin {
	@include button(#007bb5, $white, darken(#007bb5, 20%), $white);
}

.share-whatsapp {
	@include button(#25D366, $white, darken(#25D366, 20%), $white);
}

.share-telegram {
	@include button(#0088cc, $white, darken(#0088cc, 20%), $white);
}
