.share-post {
	justify-content: space-between;
	margin-top: ($default-spacing-y / 4);
	border-bottom: 1px solid $border-color;
	padding-bottom: $default-spacing-y / 2;

	ul {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			&:not(:last-child) {
				margin-right: 10px;
			}

			>a {
				border-radius: 50%;
				border: none;
				display: block;
				font-size: 1.5em;
				height: 2em;
				line-height: 2em;
				text-align: center;
				width: 2em;
				@extend %transition;

				&:hover {
					transform: translateY(-7px);
					@extend %transition;
				}
			}
		}
	}
}

.share-facebook {
	@include buttonColor(#036be4, $white, "darken", 10%);
}

.share-twitter {
	@include buttonColor(#55acee, $white, "darken", 10%);
}

.share-linkedin {
	@include buttonColor(#007bb5, $white, "darken", 10%);
}

.share-whatsapp {
	@include buttonColor(#25D366, $white, "darken", 10%);
}

.share-telegram {
	@include buttonColor(#0088cc, $white, "lighten", 10%);
}
