* {
  outline: none !important;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #9d9d9d;
  border-radius: 5px;
  border: 1px solid #fff;

  &:hover {
    background-color: #858585;
  }
}

html,
body {
  background-color: $bg-base;
  color: $color-base;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
}

a,
button {
  @extend %transition;
}


.spacing {
  padding: ($default-spacing-y / 2) $default-spacing-x;

  @include media(lg) {
    padding: $default-spacing-y $default-spacing-x;
  }
}
