* {
  outline: none !important;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: $gray-500;
  border-radius: 5px;
  border: 1px solid $body-bg;

  &:hover {
    background-color: $gray-600;
  }
}

a,
button {
  @extend %transition;
}

a[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

p {
  &:last-child {
    margin-bottom: 0;
  }
}

// Espaço entre as sessões
.spacing {
  padding: ($default-spacing-y / 2) $default-spacing-x;

  @include media(lg) {
    padding: $default-spacing-y $default-spacing-x;
  }
}

.text-default {
  color: $color-default !important;
}

// Preload
.preload {
  align-items: center;
  background-color: $white;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 10000;

  img {
    user-select: none;
    pointer-events: unset;
  }
}