$color-default: #e77f43;
$color-dark: #212529;
$color-light: #fff;

// Media querie
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;


@mixin media($width, $type: min, $dimension: width) {
  @if map_has_key($grid-breakpoints, $width) {
    $width: map_get($grid-breakpoints, $width);
  }

  @if $type==max {
    $width: $width - 1px;
  }

  @media only screen and (#{$type}-#{$dimension}: $width) {
    @content;
  }
}


%transition {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}