// Colors
$color-default:#6143e7 !default;

// Default colors on the body
$color-base:  $black;
$bg-base:     unset;

// spacing between sections
$default-spacing-y: 100px !default;
$default-spacing-x: 0 !default;

// Typography
$font-family-base:  '' !default;

// Headline sizes
// components/_headlines.scss
$fonts: () !default;

$fonts: map-merge(
  (
    sm: (
      sizes: (24px, 32px)
    ),
    md: (
      sizes: (32px, 48px)
    ),
    lg: (
      sizes: (48px, 60px)
    ),
  ),
  $fonts
);


@mixin media($width, $type: min, $dimension: width) {
  @if map_has_key($grid-breakpoints, $width) {
    $width: map_get($grid-breakpoints, $width);
  }

  @if $type == max {
    $width: $width - 1px;
  }

  @media only screen and (#{$type}-#{$dimension}: $width) {
    @content;
  }
}


@mixin buttonColor($bg, $color, $colorHover, $amount: 10%) {
  background-color: $bg;
  color: $color;

  &:hover,
  &:active,
  &:focus {
    @if $colorHover=='lighten' {
      background-color: lighten($bg, $amount);
    }

    @else if $colorHover=='darken' {
      background-color: darken($bg, $amount);
    }

    color: $color;
  }
}

%transition {
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}


// Change placeholder style
@mixin input-placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}
