$bg-form-color: $body-bg; // Background
$color-text-form: $body-color; // Cor do texto
$color-focus-default: #{var(--theme-color)}; // Cor destaque

// Spacing
$input-space-y: 0.85em;
$input-space-x: 0.75em;

/*
 * Reset fields
 */
input:not([type="radio"]):not([type="checkbox"]),
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input,
select,
optgroup,
textarea {
  border-radius: 0.4em;
  border: 1px solid #f1f1f1;
  display: block;
  font-size: 0.95rem;
  margin-bottom: 0.6em;
  padding: 0.5em 0.75em;
  width: 100%;
  @extend %transition;
}

textarea {
  max-height: 250px;
  min-height: 63px;
}

%input {
  background: none;
  border: 0;
  box-shadow: none;
  color: $color-text-form;
  margin-bottom: 0;
}

.material-form {
  .form-group {
    border-radius: 0.4em;
    margin-bottom: 0.3em;
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  input:not([type="radio"]):not([type="checkbox"]),
  select,
  textarea {
    background-color: $bg-form-color;
    padding: ($input-space-y + 0.4em) $input-space-x $input-space-y;
    @extend %input;

    // Autofill
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0px 1000px $bg-form-color inset !important;
      -webkit-text-fill-color: $color-text-form !important;
    }

    // Placeholder
    @include input-placeholder {
      color: $color-text-form;
    }

    &:not(:placeholder-shown) {
      + span {
        color: $color-focus-default;
        transform: translateY(-11px) scale(0.66);
      }
    }

    &:focus {
      outline: none;

      + span {
        color: $color-focus-default;
        transform: translateY(-11px) scale(0.66);
      }
    }
  }

  .txt {
    background: $bg-form-color;
    color: $gray-600;
    cursor: auto;
    font-size: 1em;
    font-weight: 500;
    left: $input-space-x;
    padding-left: 5px;
    pointer-events: none;
    position: absolute;
    top: 1em;
    transform-origin: 0 0;
    transition: all 0.2s ease;
    user-select: none;
  }

  .bar {
    background: $color-focus-default;
    bottom: 0;
    height: 2px;
    left: 0;
    position: absolute;
    transform-origin: 0 0;
    transform: scaleX(0);
    transition: all 0.4s ease;
    width: 100%;
  }
}

.standard-basic {
  .form-group {
    border-radius: 0;
  }

  input:not([type="radio"]):not([type="checkbox"]),
  select,
  textarea {
    border-bottom: 1px solid $border-color;
    border-radius: 0;

    &:hover {
      border-bottom-width: 2px;
      margin-bottom: -1px;
    }

    &:focus {
      + span {
        transform: translate(-4px, -11px) scale(0.66);

        + .bar {
          transform: scaleX(1);
        }
      }
    }
  }

  textarea {
    margin-bottom: -6px;

    &:hover {
      margin-bottom: -7px;
    }
  }
}

.outlined-basic {
  input:not([type="radio"]):not([type="checkbox"]),
  select,
  textarea {
    border: 1px solid $border-color;

    &:hover,
    &:focus {
      border-color: $color-focus-default;
    }
  }
}

// Input com opacidade.
.translucent-form {
  input:not([type="radio"]):not([type="checkbox"]),
  select,
  textarea {
    background-color: rgba(213, 213, 213, 0.25);
    border-color: transparent;
    backdrop-filter: blur(16px) saturate(130%);
    -webkit-backdrop-filter: blur(16px) saturate(130%);

    @include input-placeholder {
      color: $white !important;
      opacity: 0.5;
    }
  }

  textarea {
    max-height: 200px;
    min-height: 52px;
  }
}

// Suporte para bg escuro
.input-light {
  input,
  textarea,
  select,
  .txt {
    color: $white !important;
  }

  &:not(.translucent-form) {
    input,
    textarea,
    select {
      background: transparent !important;
      border-color: #ffffff42 !important;
    }
  }

  input,
  textarea,
  select {
    @include input-placeholder {
      color: $white !important;
      opacity: 0.5;
    }
  }

  option {
    color: $dark;
  }
}

// Para o activeCampaign
._field-wrapper {
  position: relative;
}

._error ._error-inner {
  font-size: 12px;
  color: #e42b2b;
  margin-bottom: -15px;
  margin-left: 17px;
}
