// Defina essa classe na sessão anterior do .layer2
.layer1 {
  /* Defina cada nível de z-index em suas sessões caso utilize o este efeito.
   * Os níveis maiores do z-index devem entrar sempre nas primeiras sessões e ir
   * diminuindo até a ultima com o efeito.
   */
  background-color: $body-bg;
  box-shadow: 0 57px 65px 31px rgba(0, 0, 0, 0.426);
  min-height: 100vh;
  position: relative;
  z-index: 2;
}

.shadow-layer {box-shadow: 0 57px 65px 31px rgba(0, 0, 0, 0.426);}

.layer2 {
  /* Variavel para utilizar no style inline do HTML.
   * defina o tamanho customizado da sessão
   */
  --sticky-height: 200vh;
  background: $body-bg;
  height: 100%;
  margin-top: -100vh;
  position: relative;
  z-index: 1;

  .sticky-height {
    min-height: calc(var(--sticky-height) * 2);

    @include media(md) {
      min-height: var(--sticky-height);
    }
  }

  .sticky-section {
    min-height: 100vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}
