.search-form {
  position: relative;

  label {
    margin-bottom: 0 !important;
  }

  .search-submit {
    background: $body-bg;
    border: none;
    color: $body-color;
    display: inline-block;
    padding: 9px 20px;
    top: 1px;
    outline: none;
    position: absolute;
    right: 1px;
    font-size: 16px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    height: calc(100% - 2px);
  }
}
