.sidebar {
  position: sticky;
  position: -webkit-sticky;
  top: 35px;
}

.widget {
  &:not(:last-child) {
    margin-bottom: $default-spacing-y / 2;
  }

  &:first-child {
    @include media(lg, max) {
      margin-top: $default-spacing-y / 2;
    }
  }

  &:hover {
    h2:before {
      margin-right: 16px;
      @extend %transition;
    }
  }

  a {
    text-decoration: none;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  h2 {
    font-size: 1.3em;

    &:before {
      content: '';
      background-color: var(--theme-color);
      display: inline-block;
      height: 2px;
      margin-right: 10px;
      vertical-align: middle;
      width: 20px;
      @extend %transition;
    }
  }
}