.btn {
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  padding: .7em 1.5em;
  text-decoration: unset !important;
  user-select: none;

  // aplique o background, cor e hover aqui abaixo
  @include buttonColor($color-default, $color-light, 'darken', 10%);
}