.btn-theme {
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  display: inline-block;
  font-size: calc(1.05rem + 0.35vw);
  font-weight: 700;
  text-decoration: unset;
  user-select: none;
  padding: 0.65em 1.1em;
  margin: 0.25rem 0;
  vertical-align: middle;

  > i {
    font-size: 150%;
    vertical-align: middle;
  }

  @include buttonColor($color-default, darken($color-default, 70%), "lighten", 10%, $color-default, darken($color-default, 70%));
}

.btn-theme-inverse {
  border: 1px solid;
  @include buttonColor(transparent, $color-default, "lighten", 10%, $color-default,  darken($color-default, 70%));
}
