$timeline-color-line: $gray-400;
$timeline-bg-color: #{var(--theme-color)};
$timeline-color-text: $white;

.timeline {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 0;

  &::after {
    content: "";
    position: absolute;
    width: 2px;
    background: $timeline-color-line;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
  }
}

.container-timeline {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;

  &.left {
    left: 0;

    .date {
      right: -150px;
    }

    .timeline__icon {
      right: 56px;
    }
  }

  &.right {
    left: 50%;

    &::after {
      left: -8px;
    }

    &::before {
      left: 8px;
    }

    .date {
      left: -155px;
    }

    .timeline__icon {
      left: 56px;
    }

    .content {
      padding: 30px 50px 30px 90px;
      border-radius: 50px 0 50px 0;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: calc(50% - 8px);
    right: -8px;
    background: $body-bg;
    border: 2px solid $timeline-color-line;
    border-radius: 16px;
    z-index: 1;
  }

  &::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    top: calc(50% - 1px);
    right: 8px;
    background: $timeline-color-line;
    z-index: 1;
  }

  .date {
    position: absolute;
    display: inline-block;
    top: calc(50%);
    text-align: center;
    transform: translateY(-50%);
    font-size: 20px;
    font-weight: bold;
    color: lighten($timeline-color-line, 20%);
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 1;
  }

  .content {
    padding: 30px 90px 30px 50px;
    background: $timeline-bg-color;
    position: relative;
    border-radius: 0 50px 0 50px;
    font-size: 1rem;
    color: $timeline-color-text;

    @include media(md) {
      font-size: 1.2rem;
    }

    h2 {
      font-size: 1.7rem;
      margin-bottom: 35px;
      font-weight: 700;
      color: $timeline-color-line;

      @include media(md) {
        font-size: 2rem;
      }
    }
  }
}

.timeline__icon {
  background: $timeline-bg-color;
  border-radius: 40px;
  border: 2px solid $timeline-color-line;
  color: $timeline-color-line;
  display: inline-block;
  font-size: 18px;
  height: 40px;
  padding: 9px 0;
  position: absolute;
  text-align: center;
  top: calc(50% - 20px);
  width: 40px;
  z-index: 1;
}

@include media(md, max) {
  .timeline::after {
    left: 15px;
  }

  .container-timeline {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;

    &:before {
      width: 25px;
    }

    &.right {
      left: 0%;
    }

    &.left::after,
    &.right::after {
      left: 7px;
    }

    &.left::before,
    &.right::before {
      left: 22px;
      border-color: transparent $timeline-color-line transparent transparent;
    }

    &.left .date,
    &.right .date {
      right: auto;
      left: 93px;
      top: 64px;
    }

    &.left .timeline__icon,
    &.right .timeline__icon {
      right: auto;
      left: 40px;
    }

    &.left .content,
    &.right .content {
      padding: 70px 30px 30px 60px;
      border-radius: 50px 0 50px 0;
    }
  }
}