@charset "utf-8";
/* 
Theme Name: WC Starter Theme Child 
Theme URL:
Description: WC Starter Theme Child Theme 
Author: Alexandre Menin
Author URL: https://github.com/alexmeninf
Template: wp-starter-theme 
Version: 1.0.0 
Text Domain: wp-starter-theme-child
*/
